
*{
    margin: 0;
    padding: 0;
}

.sun, #s{
    color: red;
}
.days:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}
.sun:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}
 td{
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

th{
    padding-bottom: 10px;    
    border: 1px solid black
}
table{
    background-color: rgba(240, 248, 255,0.8);
    width: 50em;
    border-collapse: collapse;
    margin: 30px;
}
h2{
    margin: 30px;
}
body{
    background-image: url(/images/calendar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


